providers:
  http:
    endpoint: "http://{{ include "pangolin.fullname" . }}-pangolin-cip.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain | default "cluster.local" }}:3001/api/v1/traefik-config"
    pollInterval: "5s"
  file:
    filename: "/etc/traefik/dynamic_config.yml"

experimental:
  plugins:
    badger:
      moduleName: "github.com/fosrl/badger"
      version: {{ .Values.settings.traefik.badgerVersion }}

log:
  level: "DEBUG"
  format: "common"

accessLog:
  format: json
  filters:
    statusCodes:
      - "200-599"
  fields:
    headers:
      defaultMode: drop
      names:
        User-Agent: keep
        X-Forwarded-For: keep

certificatesResolvers:
  letsencrypt:
    acme:
      httpChallenge:
        entryPoint: web
      email: {{ .Values.settings.traefik.certificatesResolver.email }}
      storage: "/letsencrypt/acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: "30m"
    http:
      tls:
        certResolver: "letsencrypt"
    proxyProtocol:
      # for testing; better to use trustedIPs in prod
      insecure: true
      # OR:
      # trustedIPs:
      #   - "10.42.0.0/16"   # your cluster CIDR / ext-traefik pods

serversTransport:
  insecureSkipVerify: true

ping:
    entryPoint: "web"
