{{- $fullName := include "pangolin.fullname" . -}}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ $fullName }}-pangolin-http-ingress
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`{{ .Values.ingress.hostDomain }}`) || HostRegexp(`^.+\.{{ .Values.ingress.hostDomain }}`)
    services:
      - name: {{ $fullName }}-gerbil-cip
        port: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{ $fullName }}-pangolin-tcp-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: HostSNI(`{{ .Values.ingress.hostDomain }}`) || HostSNIRegexp(`^.+\.{{ .Values.ingress.hostDomain  }}$`)
    services:
      - name: {{ $fullName }}-gerbil-cip
        port: 443
        {{- if .Values.settings.traefik.proxyProtocol.enabled }}
        proxyProtocol:
          version: 2
        {{- end }}
  tls:
    passthrough: true
